body{ margin: 0px;
    padding: 0px;    
    background-color: rgb(70, 119, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
   
    #navbar{ margin: 0px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;}
img{
    width: 150px;
}

header nav ul {
    list-style: none;
    margin: 25;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

#Html{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(0, 0, 0);

}
.Htmls{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}
#foto1{
    width: 300px;
}
#foto2{
    width: 300px;
}

#foto3{
    width: 300px;
}


#foto4{
    width: 200px;
}
#foto5{
    width: 400px;
}

#foto6{
    width: 200px;
}
#CSS{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(8, 8, 8);

}
.CSS1{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}

#Git{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(7, 7, 7);

}
.Git1{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}
#JS{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(10, 10, 10);

}
.JSS{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}
#foto7{
    width: 220px;
}
#foto8{
    width: 280px;
}

#foto9{
    width: 200px;

