body{ margin: 0px;
    padding: 0px;    
    background-color: rgb(70, 119, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
   
    #navbar{ margin: 0px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;}
img{
    width: 150px;
}

header nav ul {
    list-style: none;
    margin: 25;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

#Html{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(0, 0, 0);

}
.Htmls{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}
#foto1{
    width: 300px;
}
#foto2{
    width: 300px;
}

#foto3{
    width: 300px;
}


#foto4{
    width: 200px;
}
#foto5{
    width: 400px;
}

#foto6{
    width: 200px;
}
#CSS{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(8, 8, 8);

}
.CSS1{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}

#Git{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(7, 7, 7);

}
.Git1{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}
#JS{
    margin: 5px;
        padding: 5px;
        background-color: rgb(159, 218, 245);
        display: flex;
        color: rgb(10, 10, 10);

}
.JSS{
    padding: 5px;
    border: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 800px;

}
#foto7{
    width: 220px;
}
#foto8{
    width: 280px;
}

#foto9{
    width: 200px;

}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#calcas{
    margin: 10px;
    padding: 5px;
    background-color: rgb(253, 151, 222);
    display: flex;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: rgb(92, 27, 63);
    }

    .carrossel{
    margin: 50px;
    padding: 50px;
    background-color: rgb(253, 151, 222);
    border: 5px;
   
    border-style: solid;
    border-color: rgb(92, 27, 63);
    }


    
  